main mastodon-comments {
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    flex-grow: 2;
}

main mastodon-comments article {
    background-color: #F0F0F0;
    border:1px solid #666666;
}

main mastodon-comments article main {
    margin: 0;
    padding: 0;
}

main mastodon-comments .comment {
    display: grid;
    column-gap: 1rem;
    grid-template-areas:
        "avatar name        " 
        "avatar time        " 
        "avatar post        " 
        "...... interactions";
    grid-template-columns: min-content;
    justify-items: start;
    margin: 0 auto 0 -1em;
    padding: .5em;
}

main mastodon-comments .comment.comment-reply {
    margin: 0 auto 0 1em;
}

main mastodon-comment p { margin:0;padding:0; }

main mastodon-comments .comment .avatar-link {
    grid-area: avatar;
    height: 4rem;
    position: relative;
    width: 3rem;
}

main mastodon-comments .comment .avatar-link img {
    width: 3rem;
}

main mastodon-comments .comment .author {
    align-items: center;
    display: flex;
    font-weight: 700;
    gap: .5em;
    grid-area: name;
}

main mastodon-comments  .comment .author .instance {
    background-color: #0000001f;
    border-radius: 9999px;
    color: var(--neutral);
    font-size: smaller;
    font-weight: 400;
    padding: .25em .75em;
}

main mastodon-comments .comment time {
    grid-area: time;
    line-height: 1.5rem;
    font-size: smaller;
}

main mastodon-comments .comment .faves {
    display: none;
}
