{namespace coleslaw.theme.plain}

{template base}
<!DOCTYPE html>{\n}
<html lang="{$config.lang}">{\n}
  <head>{\n}
    <meta charset="{$config.charset}" />{\n}
    <title>{$config.title}</title>{\n}
    <meta author="{$config.author}">{\n}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">{\n}
    <link href="{$config.domain}/css/main.css" rel="stylesheet" media="screen">{\n}
    <link href="{$config.domain}/css/mastodon-comments.css" rel="stylesheet" media="screen">{\n}
    <link href="{$config.domain}/feeds/all.rss.xml"{\n}
          type="application/rss+xml"{\n}
          rel="alternate">{\n}
    <link href="{$config.domain}/feeds/all.atom.xml"{\n}
          type="application/atom+xml"{\n}
          rel="alternate">{\n}
  </head>{\n}
  <body>{\n}
    <nav>{\n}
      <site-home><a href="/">{$config.title}</a></site-home>{\n}
      <site-links>
      {foreach $link in $config.sitenav}
        {if $link.relative}
          <a href="{$config.domain}/{$link.url}">{$link.name}</a>
        {else}
          <a href="{$link.url}">{$link.name}</a>
        {/if}
      {/foreach}
      </site-links>{\n}
    </nav>{\n}
    <main>{\n}
      {$raw |noAutoescape}{\n}
    </main>{\n}
  </body>{\n}
</html>{\n}
{/template}
