{namespace coleslaw.theme.plain}

{template post}
<article>{\n}
  <header>{\n}
    <h1>{$post.title}</h1>{\n}
    <post-metadata>
      {if $post.date}
        <time datetime="{$post.date}" pubdate>{$post.date}</time>{\n}
      {/if}
      {if $post.tags}
          <post-tags>
          {foreach $tag in $post.tags}
            <a href="{$config.domain}/{$tag.url}">{$tag.name}</a>{nil}
              {if not isLast($tag)},{sp}{/if}
          {/foreach}
          </post-tags>{\n}
    {/if}
    </post-metadata>{\n}
  </header>{\n}

  {$post.text |noAutoescape}{\n}

  {if $post.toot}
    {\n}
    <section id="comments">{\n}
    <h2>Comments</h2>{\n}
    <p>With an account on the Fediverse or Mastodon, you can respond to this <a href="{$post.toot}">post</a>. Since Mastodon is decentralized, you can use your existing account hosted by another Mastodon server or compatible platform if you don't have an account on this one. Known non-private replies are displayed below.</p>{\n}

    <p id="mastodon-comments-list"><button id="load-comment">Load comments</button></p>{\n}
    <div id="comments-wrapper" class="mastodon-comments">
      <noscript><p>Loading comments relies on JavaScript. Try enabling JavaScript and reloading, or visit <a href="{$post.toot}">the original post</a> on Mastodon.</p></noscript>
    </div>{\n}
    <noscript>You need JavaScript to view the comments.</noscript>{\n}
    <script src="{$config.domain}/js/purify.min.js"></script>{\n}
    <script src="{$config.domain}/js/mastodon-comments.js"></script>{\n}
    <script type="text/javascript">
      var tootUrl = new URL('{$post.toot}');
      var pathnameParts = tootUrl.pathname.split('/');
      var user = pathnameParts[1].slice(1);
      var tootId = pathnameParts[2];
      tootUrl.pathname = '';
      document.getElementById("load-comment").addEventListener("click", loadComments);
    </script>{\n}
    </section>{\n}
  {/if}

</article>{\n}

<previous-next>{\n}
  {if $prev}
    <a href="{$config.domain}/{$prev.url}">&larr; Previous</a>
  {else}
    <span></span>
  {/if}{\n}
  {if $next}
    <a href="{$config.domain}/{$next.url}">Next &rarr;</a>
  {else}
    <span></span>
  {/if}{\n}
</previous-next>{\n}

{/template}
