{namespace coleslaw.theme.plain}

{template post}
<article>{\n}
  <header>{\n}
    <hgroup>{\n}
      <h1>{$post.title}</h1>{\n}
      <p> <post-metadata>
        {if $post.date}
          <time datetime="{$post.date}" pubdate>{$post.date}</time>{\n}
        {/if}
        {if $post.tags}
            <post-tags>
            {foreach $tag in $post.tags}
              <a href="{$config.domain}/{$tag.url}">{$tag.name}</a>{nil}
                {if not isLast($tag)},{sp}{/if}
            {/foreach}
            </post-tags>{\n}
      {/if}
      </post-metadata> </p>{\n}
    </hgroup>{\n}
  </header>{\n}

  {$post.text |noAutoescape}{\n}

</article>{\n}

  {if $post.toot}
    {\n}
    <hgroup>
      <h2>Comments</h2>{\n}
      <p><i>With an account on the Fediverse (e.g. Mastodon), you can comment by replying to this <a href="{$post.toot}">post</a>. Non-private replies are displayed below.</i></p>
    </hgroup>{\n}

    <button id="load-comment">Load comments</button>{\n}
    <mastodon-comments id="comments-wrapper">{\n}
      <noscript><p>Loading comments relies on JavaScript. Try enabling JavaScript and reloading, or visit <a href="{$post.toot}">the original post</a> on Mastodon.</p></noscript>{\n}
    </mastodon-comments>{\n}
    <script src="{$config.domain}/js/purify.min.js"></script>{\n}
    <script src="{$config.domain}/js/mastodon-comments.js"></script>{\n}
    <script type="text/javascript">
      var tootUrl = new URL('{$post.toot}');
      var pathnameParts = tootUrl.pathname.split('/');
      var user = pathnameParts[1].slice(1);
      var tootId = pathnameParts[2];
      tootUrl.pathname = '';
      document.getElementById("load-comment").addEventListener("click", loadComments);
    </script>{\n}
{/if}

<previous-next>{\n}
  {if $prev}
    <a href="{$config.domain}/{$prev.url}">&larr; Previous</a>
  {else}
    <span></span>
  {/if}{\n}
  {if $next}
    <a href="{$config.domain}/{$next.url}">Next &rarr;</a>
  {else}
    <span></span>
  {/if}{\n}
</previous-next>{\n}

{/template}
