{namespace kh-blog.templates}

{template index}
<h1>{$index.title}</h1>{\n}
{foreach $obj in $index.content}
  <div>
    <h2><a href="/{$obj.url}">{$obj.title}</a></h2>{\n}
    <p><post-metadata>
      <time datetime="{$obj.date}" pubdate>{$obj.date}</time>
    </post-metadata></p>{\n}
    {$obj.excerpt |noAutoescape}{\n}
  </div>{\n}
{/foreach}

<previous-next>{\n}
  {if $prev}
    <a href="/{$prev.url}">&larr; Previous</a>
  {else}
    <span></span>
  {/if}{\n}
  {if $next}
    <a href="/{$next.url}">Next &rarr;</a>
  {else}
    <span></span>
  {/if}{\n}
</previous-next>{\n}

{if $tags}
<div>
  <p>Tags:
    {foreach $tag in $tags}
      <a href="/{$tag.url}">{$tag.name}</a>{nil}
      {if not isLast($tag)},{sp}{/if}
    {/foreach}
  </p>
</div>
{/if}
{if $months}
<div>
  <p>By month:
    {foreach $month in $months}
      <a href="/{$month.url}">{$month.name}</a>{nil}
      {if not isLast($month)},{sp}{/if}
    {/foreach}
  </p>
</div>
{/if}
{/template}
