;;;;;
title: Integrating scientific software and datasets into the citation record
tags: science
date: 2012-11-14 10:18:22
format: html
doi: 10.59350/s8nap-e1g62
;;;;;
<p>This morning I read <a href="http://ivory.idyll.org/blog/w4s-overview.html">C. Titus Brown's blog post</a> on how science could be so much better if scientitic data and the software used to work with it were openly available for reuse. One problem he mentions, like many others have done before, is the lack of incentive for publishing anything else but standard scientific papers. What matters for a scientist's career and for grant applications is papers, papers, papers. Any contribution that's not in a scientific journal with a reputation and an impact factor is usually ignored, even if its real impact exceeds that of many papers that nobody really wants to read.</p><p>Ideally, published scientific data and software should be treated just like a paper: it should be citeable and it should appear in the citation databases that are used to calculate impact factors, h factors, and whatever other metrics bibliometrists come up with and evaluation committees appreciate for their ease of use.</p><p>Treating text (i.e. papers), data, and code identically also happens to be useful for making scientific publications more useful to the reader, by adding interactive visualization and exploration of procedures (such as varying parameters) to the static presentation of results in a standard paper. This idea of "executable papers" has generated a lot of interest recently, as shown by <a href="http://www.executablepapers.com/">Elsevier's Executable Paper Challenge</a> and the <a href="https://sites.google.com/site/beyondthepdf/">Beyond the PDF</a> workshop. For a technical description of how this can be achieved, see my <a href="http://dirac.cnrs-orleans.fr/plone/software/activepapers/">ActivePapers</a> project and/or the <a href="http://www.sciencedirect.com/science/article/pii/S1877050911001190">paper</a> describing it. In the ActivePapers framework, a reference to code being called, or to a dataset being reused, is exactly identical to a reference to a published paper. It would then be much easier for citation databases to include all references rather than filter out the ones that are "classical" citations. And that's a good motivation to finally treat all scientific contributions equally.</p><p>Since the executable papers idea is much easier to sell than the idea of an upated incentive system, a seemingly innocent choice in technology could end up helping to change the way scientists and research projects are evaluated.</p>
