;;;;;
title: ActivePapers for Python
tags: reproducible research
date: 2013-09-27 17:15:16
format: html
doi: 10.59350/mzxbj-vzd18
;;;;;
Today I have published the first release of ActivePapers for Python, available on <a href="http://pypi.python.org/pypi/ActivePapers.Py/0.1">PyPI</a> or directly from the <a href="https://bitbucket.org/khinsen/active_papers_py">Mercurial repository on Bitbucket</a>. The release coincides with the publication of my first scientific paper for which the complete code and data is in the supplementary material, available through the <a href="http://jcp.aip.org/resource/1/jcpsa6/v139/i12/p124115_s1">J. Chem. Phys. Web site</a> or from <a href="http://dx.doi.org/10.6084/m9.figshare.798825">Figshare</a>. There is a good chance that this is the first fully reproducible paper in the field of biomolecular simulation, but it is of course difficult to verify such a claim.<br><br>ActivePapers is a framework for doing and publishing reproducible research. An ActivePaper is a file that contains code (Python modules and scripts) and data (HDF5 datasets), plus the dependency information between all these pieces. You can change a script and re-run all the computations that depend on it, for example. Once your project is finished, you can publish the ActivePaper as supplementary material to your standard paper. You can also re-use code and data from a published ActivePaper by using DOI-based links, although for the moment this works only for ActivePapers stored on <a href="http://figshare.com/">Figshare</a>.<br><br>I consider this first release of ActivePapers quite usable (I use it, after all), but it's definitely for "early adopters". You should be comfortable working with command-line tools, for example, and of course you need some experience with writing Python scripts if you want to create your own ActivePaper. For inspecting data, you can use any HDF5-based tool, such as <a href="http://www.hdfgroup.org/hdf-java-html/hdfview/">HDFView</a>, though this makes sense only for data that generic tools can handle. My first published ActivePaper contains lots of protein structures, which HDFView doesn't understand at all. I expect tool support for ActivePapers to improve significantly in the near future.
